#projects {
  margin: 5rem 0;
}
#projects__h2 {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
}
#grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 3rem;

  p {
    width: 90%;
    margin: auto;
  }
}

#item-1 {
  margin: 0 auto;

  img {
    width: 50%;
    height: 50%;
  }
}
#item-2 {
  margin: 0 auto;

  img {
    width: 50%;
    height: 50%;
  }
}
#item-3 {
  margin: 0 auto;

  img {
    width: 50%;
    height: 50%;
  }
}
#item-4 {
  margin: 0 auto;

  img {
    width: 50%;
    height: 50%;
  }
}

.project__h5 {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.project__bnt {
  padding: 0.5rem;
  border: none;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 2px #151515;

  &:hover {
    background-color: #e5e5e5;
    box-shadow: 0 0 0 2px #696969;
    position: relative;
    cursor: auto;
  }
}
