#projects {
  margin: 5rem 0;
}
#projects__h2 {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  font-family: Inter-Semibold;
}
#grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr);
  gap: 3rem;

  p {
    width: 60%;
    margin: auto;
  }
  img {
    width: var(--img-width-360px);
    height: var(--img-height-360px);
    border-radius: 0.7rem;
  }
}

#item__1 {
  margin: 0 auto;
}
#item__2 {
  margin: 0 auto;
}
#item__3 {
  margin: 0 auto;
}
#item__4 {
  margin: 0 auto;
}

.project__h5 {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-family: Inter-Semibold;
}

.project__bnt {
  padding: 0.5rem;
  border: none;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 2px #151515;

  &:hover {
    background-color: #e5e5e5;
    box-shadow: 0 0 0 2px #696969;
    position: relative;
    cursor: auto;
  }
}

#item-1__info {
  margin: 3rem 0;
  img {
    border-radius: 0.7rem;
  }
}
#item-2__info {
  margin: 3rem 0;
  img {
    border-radius: 0.7rem;
  }
}
#item-3__info {
  margin: 3rem 0;
  img {
    border-radius: 0.7rem;
  }
}
#item-4__info {
  margin: 3rem 0;
  img {
    border-radius: 0.7rem;
  }
}
.expanded__text {
  margin: 3rem auto;
  width: 90%;
  overflow-wrap: break-word;
}

.hidden {
  display: none;
}
