.contacts {
  position: relative;
  top: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.contact__img {
  background-color: white;
  // border-radius: 100%;
  background-color: yellow;
}
.img__container {
  background-color: blue;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  background-color: green;
  text-align: center;
}
