.contacts {
  position: relative;
  top: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.contact__img {
  margin-top: 5vh;
  border-radius: 100%;
  background-color: white;
}
.contact__h2 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
}
h3 {
  text-align: center;
  text-transform: uppercase;
}
