.name__card {
  position: relative;
  bottom: 15vh;
  float: right;
  width: 15vw;
  padding: 1rem 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 1.4;
  border: var(--box-border);
  border-radius: var(--border-radius);
  background-color: #8adce9;

  h1 {
    text-transform: uppercase;
    letter-spacing: var(--border-radius);
  }
}

.content__box {
  position: absolute;
  left: 25%;
  top: 35%;
  width: 50%;
  height: 70%;
  padding: 5rem 1rem 1rem;
  border-radius: var(--border-radius);
  border: var(--box-border);
  background-color: #f7f8bb;
}

p {
  color: rgb(15, 15, 15);
}

footer {
  position: relative;
  top: 170vh;
  padding: 1rem;
  text-align: center;
  background-color: #4e93b0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
