#contact {
  // background-color: rgb(74, 74, 12);

  font-size: 1.3rem;
  margin-bottom: 5rem;
  a {
    text-decoration: none;
    color: #0000c2;
  }
  ul {
    gap: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}

#email {
  margin: 3rem auto;
}
#linkedin {
  margin: 3rem auto;
}
#github {
  margin: 3rem auto;
}
