.introduction__text {
  position: relative;
  left: 10vw;
  bottom: 45vh;
  width: 50%;
  transform: translate(50%, 0);
  letter-spacing: 0.05rem;
  line-height: 1.4;
  text-align: justify;
}

.portrait {
  position: relative;
  top: 5vh;
  left: 3vw;
  width: 30%;
  border-radius: 0.3rem;
}
